<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">MeetUp</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse show" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
         <!-- for screen reader:sr-only, what is the current page -->
        <a class="nav-link" routerLink="/home" [routerLinkActive]="'active'">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/meetings" [routerLinkActive]="'active'">Meetings</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/users']" [routerLinkActive]="'active'">Users</a>
        </li>
    </ul>
  </div>
</nav>
