<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Meetups for Pros</h1>
    <p class="lead">A gathering place for all professionals</p>
    <hr class="my-2" />
    <p>
      Welcome to our meetup platform. From here you can find and join the
      meetings you are interested in
    </p>
    <p class="lead">
      <a *ngIf="loggedIn$ &&!(loggedIn$|async)"  class="btn btn-primary btn-lg" (click)="logIn()"  role="button"
        >Log In</a
      >
      <a *ngIf="loggedIn$ && loggedIn$|async" class="btn btn-primary btn-lg" (click)="logOut()"  role="button"
        >Log Out</a
      >
    </p>
  </div>
</div>
